<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- head -->
<head th:replace="fragment/header :: head"></head>


<!-- header -->
<header th:replace="fragment/header :: header(menu='0')"></header>

<body>
	<div class="container-fluid">
		<div class="row justify-content-center p-5">
			<div class="col col-md-7 col-lg-6 col-xl-5 col-xxl-4 my-5 LoginBox">
				<div class="py-5 px-md-5">
					<form class="p-3" action="#" th:action=@{/user/signup} th:object="${user}" method="post" enctype="multipart/form-data" id="signUpForm">
						<div class="mb-3">
							<input type="text" class="form-control" th:classappend="${#fields.hasErrors('username')} ? 'is-invalid'" id="username" th:field="*{username}" placeholder="아이디" required autofocus>
							<div class="invalid-feedback" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
						</div>
						<div class="mb-3">
							<input type="password" class="form-control" th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'" id="password" th:field="*{password}" placeholder="비밀번호" required>
							<div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
						</div>
						<div class="mb-3">
							<input type="text" class="form-control" th:classappend="${#fields.hasErrors('nickname')} ? 'is-invalid'" id="nickname" th:field="*{nickname}" placeholder="닉네임" required>
							<div class="invalid-feedback" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"></div>
						</div>
						<div class="mb-3">
							<input type="file" class="form-control" id="profileImg">
							<input type="hidden" class="form-control" id="profileImgPath" th:field="*{profileImgPath}">
						</div>
						<div class="d-grid gap-2">
							<button type="button" class="btn btn-primary" onclick="signUp();">회원가입</button>
						</div>
						<input name="_csrf" type="hidden" value="79c76bfb-72b4-4bff-bd7d-4675a8270d84">
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

<!-- footer -->
<footer th:replace="fragment/footer :: footer"></footer>

<script>

	function signUp(){
		var file = $("#profileImg")[0].files[0];
		
		if(file != undefined){
			console.log(file);
			sendFile(file);
		}else{
			$("#signUpForm").submit();
		}
	}
	
	function sendFile(file) {
		var form_data = new FormData();
		form_data.append('file', file);
		form_data.append('gb', 'profile');
		
		$.ajax({
			data : form_data,
			type : "POST",
			url : '/image',
			cache : false,
			contentType : false,
			enctype : 'multipart/form-data',
			processData : false,
			success : function(url) {
				$("#profileImgPath").val(url);
				$("#signUpForm").submit();
			}
		});
	}
</script>
</html>


