<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- head -->
<head th:replace="fragment/header :: head"></head>


<!-- header -->
<header th:replace="fragment/header :: header(menu='0')"></header>

<body>
	<div class="container-fluid">
		<div class="row justify-content-center p-5">
			<div class="col col-md-7 col-lg-6 col-xl-5 col-xxl-4 my-5 LoginBox">
				<div class="py-5 px-md-5">
					<h1 class="text-center mb-3" style="font-size: 64px; font-weight: bold">LOGIN</h1>
					
					<form class="form-signin p-3" method="post" th:action=@{/user/login}>
						<div class="mb-3">
							<input type="text" class="form-control" id="username" name="username" placeholder="아이디" required="" autofocus="">
						</div>
						<div class="mb-3">
							<input type="password" class="form-control" id="password" name="password" placeholder="비밀번호" required="">
						</div>
						<!--로그인에러-->
	        			<div th:if="${param.error}" th:text="${errorMessage}" class="alert alert-danger" role="alert"></div>
						<div class="d-grid gap-2">
							<button type="submit" class="btn btn-primary">로그인</button>
							<a class="btn btn-primary" href="/user/signup">회원가입</a>
						</div>
						<input name="_csrf" type="hidden" value="79c76bfb-72b4-4bff-bd7d-4675a8270d84">
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

<!-- footer -->
<footer th:replace="fragment/footer :: footer"></footer>
</html>
