<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
	
	<!-- BootStrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<!-- font -->
	<link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css" rel="stylesheet">
	
	<link th:href="@{/assets/css/style.css}" rel="stylesheet">
	
	<!-- BootStrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	
	<!-- fontAwesome -->
	<script src="https://kit.fontawesome.com/6cbf1f9779.js" crossorigin="anonymous"></script>
	
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    
	<title>MTDZ9999</title>
	<link rel="shortcut icon" type="image/x-icon" href="/assets/img/MTDZ-9999-04.ico">

	<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
	
	<script src="https://cdn.jsdelivr.net/npm/spectrum-colorpicker2/dist/spectrum.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/spectrum-colorpicker2/dist/spectrum.min.css">
	
	<!-- html2canvas -->
	<script th:src="@{/assets/js/html2canvas.min.js}"></script>

</head>
<body>
	<header class="p-3 border-bottom border-gray" th:fragment="header">
	<input sec:authorize="isAuthenticated()" type="hidden" id="username" name="username" th:value="${#authentication.name}">
		<div class="container-fluid">
			<div class="d-flex flex-wrap align-items-center justify-content-start">
				<a href="/" class="d-flex align-items-center text-dark text-decoration-none me-4">
					<img th:src="@{/assets/img/mtdz9999-logo.png}" style="width: 128px;">
				</a>
				
				<ul class="nav d-none d-lg-flex col-lg-auto me-lg-auto justify-content-center sbAggroM">
					<li class="nav-item ms-4"><a href="/aboutus" class="nav-link link-dark">ABOUT US</a></li>
					<li class="nav-item ms-4"><a href="/toyRoom/view" class="nav-link link-dark">TOYROOM</a></li>
					<li class="nav-item ms-4"><a href="/post/list?boardId=0" class="nav-link link-dark">COMMNUNITY</a></li>
					<li class="nav-item ms-4"><a href="/raffle/list" class="nav-link link-dark">RAFFLE</a></li>
				</ul>
				<div class="d-none d-lg-block justify-content-center me-1" sec:authorize="isAuthenticated()">
					<a class="sbAggroM pt-1 px-2 my-2 text-center text-decoration-none loginBtn" sec:authorize="!hasAnyRole('HOLDER','ADMIN')" href="#" onclick="holderCheck();">홀더인증</a>
					<img class="" th:src="@{/assets/img/holder.png}" sec:authorize="hasAnyRole('HOLDER','ADMIN')" style="width:40px; height:40px;" title="MTDZ HOLDER">
				</div>
				<div class="d-none d-lg-block">
					<a class="me-3" sec:authorize="isAnonymous()" th:href="@{/user/login}"><img th:src="@{/assets/img/login2.png}" style="width: 80px;"></a>
					<div class="" sec:authorize="isAuthenticated()">
						<div class="d-flex flex-row" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" style="cursor: pointer;">
							<div class="d-flex flex-column justify-content-center text-end me-3">
								<span class="sbAggroM nicknameSpan"></span>
								<span style="font-size: 0.8em;" class="pointSpan"></span>
							</div>
							<img class="d-flex flex-row profileImg">
						</div>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<li><a class="dropdown-item" href="javascript:alert('준비중입니다.');">마이페이지</a></li>
							<li><a class="dropdown-item" th:href="@{/user/logout}">로그아웃</a></li>
						</ul>
					</div>
				</div>
				
				<div class="navbar navbar-expand-lg navbar-light d-block d-lg-none ms-auto">
					<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
						aria-controls="offcanvasRight">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" style="width: 270px;">
						<div class="offcanvas-header">
							<a sec:authorize="isAnonymous()" th:href="@{/user/login}"><img th:src="@{/assets/img/login2.png}" style="width: 80px;"></a>
							<div class="" sec:authorize="isAuthenticated()">
								<div class="d-flex flex-row" style="cursor: pointer;">
									<img class="d-flex flex-row profileImg">
									<div class="d-flex flex-column justify-content-center text-start ms-3">
										<span class="sbAggroM nicknameSpan"></span>
										<span style="font-size: 0.8em;" class="pointSpan"></span>
									</div>
								</div>
							</div>
							<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
						</div>
						<div class="offcanvas-body">
							<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
<!-- 								<li class="nav-item dropdown"> -->
<!-- 									<a class="nav-link dropdown-toggle text-dark sbAggroM show" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">MTDZ BET</a> -->
<!-- 									<ul class="dropdown-menu show" aria-labelledby="offcanvasNavbarDropdown" data-bs-popper="none"> -->
<!-- 										<li><a class="dropdown-item" href="#">Action</a></li> -->
<!-- 										<li><a class="dropdown-item" href="#">Another action</a></li> -->
<!-- 									</ul> -->
<!-- 								</li> -->
								<li class="nav-item dropdown">
									<a class="nav-link text-dark sbAggroM show" href="/aboutus">ABOUT US</a>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link text-dark sbAggroM show" href="javascript:alert('PC버전을 이용하세요.');">TOYROOM</a>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle text-dark sbAggroM show" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">COMMNUNITY</a>
									<ul class="dropdown-menu show" aria-labelledby="offcanvasNavbarDropdown" data-bs-popper="none">
										<li><a class="dropdown-item" href="/post/list?boardId=0">공지사항</a></li>
										<li><a class="dropdown-item" href="/post/list?boardId=1">P2E(MTDZ THE GAME)</a></li>
										<li><a class="dropdown-item" href="/post/list?boardId=2">P2E(META TOY CITY)</a></li>
										<li><a class="dropdown-item" href="/post/list?boardId=3">자유게시판</a></li>
										<li><a class="dropdown-item" href="/post/list?boardId=4">건의/신고</a></li>
									</ul>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link text-dark sbAggroM show" href="/raffle/list">RAFFLE</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal" id="loadingModal" data-bs-backdrop="static" tabindex="-1">
			<div class="modal-dialog modal-dialog-centered m-auto" style="width: 300px;">
				<img th:src="@{/assets/img/loding_meoraeng.gif}" style="width: 100%">
			</div>
		</div>
		<!-- Button trigger modal -->
		<button type="button" style="display: none;" id="showLoading" data-bs-toggle="modal" data-bs-target="#loadingModal"></button>
		<button type="button" style="display: none;" id="hideLoading" data-bs-dismiss="modal" aria-label="Close" data-bs-target="#loadingModal"></button>
		
		<script>
		
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr, options) {
				xhr.setRequestHeader(header, token);
			});

			$(document).ready(function() {
				getUserInfo();
			})

			function getUserInfo() {
				const username = $("#username").val();
				if(username != ''){
					$.ajax({
						url : "/getUser",
						type : "POST",
						data : {
							username : username
						},
						success : function(data) {
							$(".nicknameSpan").text(data.nickname);
							$(".pointSpan").text(data.point + " P");
							$("header .profileImg").attr("src", data.profileImgPath);
						}
					});
				}
			}
			
			async function holderCheck(){
				const accounts = await klaytn.enable();
				
				if (klaytn.networkVersion === 8217) {
			        console.log("메인넷");
			    } else {
			        alert("ERROR: 클레이튼 네트워크로 연결되지 않았습니다!");
			        return;
			    }
				
				if(confirm("인증하시겠습니까?")){
					$.ajax({
						type : "POST",
						url : "/user/holderCheck",
						data : {
							accounts : accounts[0]
						},
						success : function(result) {
							if(result == "1"){
								alert("저장되었습니다. 다시 로그인해주세요.");
								location.href = "/user/logout";
							}else if(result == "-9"){
								alert("해당 지갑엔 메타토이드래곤즈가 없습니다. \n지갑을 확인해주세요.")
							}else{
								alert("오류가 발생하였습니다. \n관리자에게 문의해주세요.");
							}
						}
					});
				}
			};
			
		</script>
	</header>
</body>
</html>