<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- head -->
<head th:replace="fragment/header :: head"></head>

<body>
	<!-- header -->
	<header th:replace="fragment/header :: header(menu='3')"></header>


	<!-- content -->
	<div class="container">
		<table class="table table-hover text-center">
			<thead class="table-light">
				<tr>
					<th class="col-2">번호</th>
					<th class="col-5">제목</th>
					<th class="col-3">작성일</th>
					<th class="col-2">조회</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="board : ${boardList}">
					<td th:text="${board.id}"></td>
					<td><a th:text="${board.title}" th:href="@{/board/form(id=${board.id})}"></a></td>
					<td th:text="${#temporals.format(board.regDateTime, 'yyyy.MM.dd HH:mm:ss')}"></td>
					<td th:text="${board.readCnt}"></td>
				</tr>
				<tr th:if="${#lists.size(boardList)} == 0">
					<td colspan="4" >게시글이 없습니다.</td>
				</tr>
			</tbody>
		</table>
		
		<div class="text-end">
			<a type="button" class="btn btn-rtdc" th:href=@{/board/form}>작성</a>
		</div>
		
		<!-- pagenation s -->
		<nav class="d-none d-md-block">
			<ul class="pagination justify-content-center"
				th:with="start=${boardList.number/10*10 + 1}
  						, last=(${start + 9 < boardList.totalPages ? start + 9 : boardList.totalPages})">
  				<!-- firstPage -->
				<li class="page-item">
					<a class="page-link" th:href="@{/board/list(page=1)}">&lt;&lt;</a>
				</li>
				<!-- previousPage -->
				<li class="page-item" th:class="${boardList.first} ? 'disabled'">
					<a class="page-link" th:href="${boardList.first} ? '#' :@{/board/list(page=${boardList.number})}">&lt;</a>
				</li>
				<!-- page -->
				<li class="page-item" th:each="page: ${#numbers.sequence(start, last)}" th:classappend="${page == boardList.number + 1} ? 'active'">
					<a class="page-link" th:text="${page}" th:href="@{/board/list(page=${page})}"></a>
				</li>
				<!-- nextPage -->
				<li class="page-item" th:class="${boardList.last} ? 'disabled'">
					<a class="page-link" th:href="${boardList.last} ? '#' :@{/board/list(page=${boardList.number +2})}">&gt;</a>
				</li>
				<!-- lastPage -->
				<li class="page-item">
					<a class="page-link" th:href="@{/board/list(page=${boardList.totalPages})}">&gt;&gt;</a>
				</li>
			</ul>
		</nav>
		
		<nav class="d-sm-block d-md-none">
			<ul class="pagination justify-content-center" 
				th:with="start=${boardList.number/5*5 + 1}
  						, last=(${start + 4 < boardList.totalPages ? start + 4 : boardList.totalPages})">
  				<!-- firstPage -->
				<li class="page-item">
					<a class="page-link" th:href="@{/board/list(page=1)}">&lt;&lt;</a>
				</li>
				<!-- previousPage -->
				<li class="page-item" th:class="${boardList.first} ? 'disabled'">
					<a class="page-link" th:href="${boardList.first} ? '#' :@{/board/list(page=${boardList.number})}">&lt;</a>
				</li>
				<!-- page -->
				<li class="page-item" th:each="page: ${#numbers.sequence(start, last)}" th:classappend="${page == boardList.number + 1} ? 'active'">
					<a class="page-link" th:text="${page}" th:href="@{/board/list(page=${page})}"></a>
				</li>
				<!-- nextPage -->
				<li class="page-item" th:class="${boardList.last} ? 'disabled'">
					<a class="page-link" th:href="${boardList.last} ? '#' :@{/board/list(page=${boardList.number +2})}">&gt;</a>
				</li>
				<!-- lastPage -->
				<li class="page-item">
					<a class="page-link" th:href="@{/board/list(page=${boardList.totalPages})}">&gt;&gt;</a>
				</li>
			</ul>
		</nav>
		<!-- pagenation e -->
	</div>


	<!-- footer -->
	<footer th:replace="fragment/footer :: footer"></footer>
</body>
</html>
