<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- head -->
<head th:replace="fragment/header :: head"></head>
<style>
	.card-img-top{
		max-width: 100%;
		height: 270px;
/*    		height: auto !important; */
	}
	.card:hover {
		cursor: pointer;	
	}
</style>
<body>
	<!-- header -->
	<header th:replace="fragment/header :: header(menu=${boardId})"></header>
	

	<!-- content -->
	<div class="container sbAggroL mt-3">
		<div class="col">
			<ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link active" id="home-tab" data-bs-toggle="tab"
						data-bs-target="#now" type="button" role="tab"
						aria-controls="now" aria-selected="true" style="color:black;">진행중 이벤트</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="profile-tab" data-bs-toggle="tab"
						data-bs-target="#finish" type="button" role="tab"
						aria-controls="finish" aria-selected="false" style="color:black;">종료된 이벤트</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="contact-tab" data-bs-toggle="tab"
						data-bs-target="#winner" type="button" role="tab"
						aria-controls="winner" aria-selected="false" style="color:black;">당첨자 발표</button>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="now" role="tabpanel" aria-labelledby="home-tab">
					
					<!-- 진행중 이벤트 -->
					<div class="row">
						<div th:each="event, i : ${eventList}" th:if="${event.status == '0'}" class="col col-lg-4 col-md-6 col-sm-12 col-12">
							<div class="card mt-3" data-bs-toggle="modal" th:attr="data-bs-target=${'#exampleModal' + i.index}">
								<div th:utext="${event.cardImg}"></div>
								<div class="card-body">
									<h5 th:text="${event.title}" class="card-title sbAggroM"></h5>
									<p th:text="${#temporals.format(event.startDateTime, 'yyyy.MM.dd HH:mm:ss')}" class="card-text"></p>
								</div>
							</div>
						</div>
					</div>
						
				</div>
				<div class="tab-pane fade" id="finish" role="tabpanel" aria-labelledby="profile-tab">
					<!-- 종료된 이벤트 -->
					<div class="row">
						<div th:each="event : ${eventList}" th:if="${event.status == '1'}" class="col col-lg-4 col-md-6 col-sm-12 col-12">
							<div class="card mt-3" data-bs-toggle="modal" th:attr="data-bs-target=${'#exampleModal' + i.index}">
								<div th:utext="${event.cardImg}"></div>
								<div class="card-body">
									<h5 th:text="${event.title}" class="card-title sbAggroM"></h5>
									<p th:text="${#temporals.format(event.startDateTime, 'yyyy.MM.dd HH:mm:ss')}" class="card-text"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="winner" role="tabpanel" aria-labelledby="contact-tab">
					<!-- 당첨자 발표 -->
					<div class="row">
						<div th:each="event : ${eventList}" th:if="${event.status == '2'}" class="col col-lg-4 col-md-6 col-sm-12 col-12">
							<div class="card mt-3" data-bs-toggle="modal" th:attr="data-bs-target=${'#exampleModal' + i.index}">
								<div th:utext="${event.cardImg}"></div>
								<div class="card-body">
									<h5 th:text="${event.title}" class="card-title sbAggroM"></h5>
									<p th:text="${#temporals.format(event.startDateTime, 'yyyy.MM.dd HH:mm:ss')}" class="card-text"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Modal -->
	<div th:each="event, i : ${eventList}" class="modal fade" th:attr="id=${'exampleModal' + i.index}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel" th:text="${event.title}">Modal title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p th:utext="${event.content}" class="card-text"></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
	
	<!-- footer -->
	<footer th:replace="fragment/footer :: footer"></footer>
</body>
</html>
