<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- head -->
<head th:replace="fragment/header :: head"></head>

<!-- header -->
<header th:replace="fragment/header :: header"></header>

<body>
<div class="contentDiv">
	<!-- content -->
	<div class="container">
		
		<div class="row justify-content-center mt-5 mb-5">
		
			<div class="col-4 text-center">
				<img src="/assets/img/story-0.png" style="width:100%;">
				<span>비어있는 왕좌로 인해 혼돈의 장난감 세상.</span>
				<img src="/assets/img/story-1.png" style="width:100%;">
				<span>드래곤들은 왕좌를 차지하기 위해 <br>각자의 방식으로 성장하지만,</span>
				<img src="/assets/img/story-2.png" style="width:100%;">
				<span>MTDZ#1100은 왕좌에 관심이 없고,<br>오직 0과 1의 숫자에만 관심이 있다.</span>
				<img src="/assets/img/story-3.png" style="width:100%;">
				<span>이를 이상하게 여긴 드래곤 친구들은<br>MTDZ#1100을 왕따시키기 시작하였다.</span>
				<img src="/assets/img/story-4.png" style="width:100%;">
				<span>왕따가 된 MTDZ#1100은 결심을 하였다. </span>
				<img src="/assets/img/story-5.png" style="width:100%;">
				<span>자신이 좋아하는 컴퓨터와 숫자 0과 1으로<br>드래곤 친구들과 소통하고 놀 수 있는 공간을 만들겠다고!</span>
			</div>
			
<!-- 			<div class="col-12 col-lg-4 text-center"> -->
<!-- 				<img src="/assets/img/story-0.png" style="width:100%;"> -->
<!-- 				<span>비어있는 왕좌로 인해 혼돈의 장난감 세상.</span> -->
<!-- 			</div>  -->
<!-- 			<div class="col-12 col-lg-4 text-center"> -->
<!-- 				<img src="/assets/img/story-1.png" style="width:100%;"> -->
<!-- 				<span>드래곤들은 왕좌를 차지하기 위해 <br>각자의 방식으로 성장하지만,</span> -->
<!-- 			</div>  -->
<!-- 			<div class="col-12 col-lg-4 text-center"> -->
<!-- 				<img src="/assets/img/story-2.png" style="width:100%;"> -->
<!-- 				<span>MTDZ#1100은 왕좌에 관심이 없고,<br>오직 0과 1의 숫자에만 관심이 있다.</span> -->
<!-- 			</div>  -->
<!-- 			<div class="col-12 col-lg-4 text-center"> -->
<!-- 				<img src="/assets/img/story-3.png" style="width:100%;"> -->
<!-- 				<span>이를 이상하게 여긴 드래곤 친구들은<br>MTDZ#1100을 왕따시키기 시작하였다.</span> -->
<!-- 			</div>  -->
<!-- 			<div class="col-12 col-lg-4 text-center"> -->
<!-- 				<img src="/assets/img/story-4.png" style="width:100%;"> -->
<!-- 				<span>왕따가 된 MTDZ#1100은 결심을 하였다. </span> -->
<!-- 			</div>  -->
<!-- 			<div class="col-12 col-lg-4 text-center"> -->
<!-- 				<img src="/assets/img/story-5.png" style="width:100%;"> -->
<!-- 				<span>자신이 좋아하는 컴퓨터와 숫자 0과 1으로<br>드래곤 친구들과 소통하고 놀 수 있는 공간을 만들겠다고!</span> -->
<!-- 			</div> -->
			<hr class="mt-5 mb-5">
			<div class="col text-center">
				<h2 class="sbAggroB">그렇게 만들어진 공간</h2><img src="/assets/img/mtdz9999-logo.png" style="width:30%;">
			</div>
		</div>
	</div>
</div>
</body>

<!-- footer -->
<footer th:replace="fragment/footer :: footer"></footer>

</html>
