<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- head -->
<head th:replace="fragment/header :: head"></head>


<!-- header -->
<header th:replace="fragment/header :: header(menu='0')"></header>

<body>
	<div class="container-fluid">
		<div class="row">
			<!-- left -->
			<div class="col-12 col-lg-1 p-3 d-flex border-end border-gray d-lg-block text-center">
				<div class="mx-auto">
					<h5 class="sbAggroM">MTDZ</h5>
					<div class="my-1">
						<img class="openseaLogo">
						<span id="mtdz_opensea_fp"></span>
					</div>
					<div class="my-1">
						<img class="palaLogo">
						<span id="mtdz_pala_fp"></span>
					</div>
				</div>
				<hr>
				<div class="mx-auto">
					<h5 class="sbAggroM">MTG</h5>
					<div class="my-1">
						<img class="openseaLogo">
						<span id="mtg_opensea_fp"></span>
					</div>
					<div class="my-1">
						<img class="palaLogo">
						<span id="mtg_pala_fp"></span>
					</div>
				</div>
				<hr>
				<div class="mx-auto">
					<h5 class="sbAggroM">MTB</h5>
					<div class="my-1">
						<img class="openseaLogo">
						<span id="mtb_opensea_fp"></span>
					</div>
					<div class="my-1">
						<img class="palaLogo">
						<span id="mtb_pala_fp"></span>
					</div>
				</div>
				<hr>
			</div>
			
			
			<!-- content -->
			<div class="col p-4">
				<div class="row">
					<div class="col col-12 col-sm-12 col-md-12 col-lg-6">
						<p class="sbAggroM m-3 mb-2">Popular Post&nbsp&nbsp&nbsp&nbsp<a class="sbAggroL text-decoration-none" href="#" style="font-size: 0.75rem; color:gray;">View More →</a></p>
						<div class="postList p-3">
							<table class="table table-borderless mb-0">
								<tr th:each="post, i : ${popularPostList}" th:onclick="|location.href='@{/post/view(boardId=${post.board.boardId},postId=${post.postId})}'|" style="cursor: pointer;">
									<td class="text-center" style="width: 100px;">
										<span >작성자</span>
									</td>
									<td class="content">
										<span th:text="|[${post.board.boardNm}] ${post.title}|"></span>
									</td>
								</tr>
							</table>
						</div>
					</div>
					
					<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6">
						<p class="sbAggroM m-3 mb-2">New Posts&nbsp&nbsp&nbsp&nbsp<a class="sbAggroL text-decoration-none" href="#" style="font-size: 0.75rem; color:gray;">View More →</a></p>
						<div class="postList p-3">
							<table class="table table-borderless mb-0">
								<tr th:each="post, i : ${newPostList}" th:onclick="|location.href='@{/post/view(boardId=${post.board.boardId},postId=${post.postId})}'|" style="cursor: pointer;">
									<td class="text-center" style="width: 100px;">
										<span >작성자</span>
									</td>
									<td class="content">
										<span th:text="|[${post.board.boardNm}] ${post.title}|"></span>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</body>

<!-- footer -->
<footer th:replace="fragment/footer :: footer"></footer>
<script>
$(document).ready(function(){
	getFp();
})

function getFp(){
	$("#showLoading").click();
	
	//opensea
	var mtdzUrl = "https://opensea.io/collection/mtdz-1";
	var mtdzhref = "/collection/mtdz-1?search[sortAscending]=true&search[sortBy]=PRICE&search[toggles][0]=BUY_NOW";
	var mtgUrl = "https://opensea.io/collection/meta-toy-gamers";
	var mtghref = "/collection/meta-toy-gamers?search[sortAscending]=true&search[sortBy]=PRICE&search[toggles][0]=BUY_NOW";
	var mtbUrl = "https://opensea.io/collection/meta-toy-bricks";
	var mtbhref = "/collection/meta-toy-bricks?search[sortAscending]=true&search[sortBy]=PRICE&search[toggles][0]=BUY_NOW";

	//pala
	var mtdzPalaUrl = 'https://api.pala.world/projects/0x46DBdC7965CF3cd2257C054fEAb941a05Ff46488';
	var mtgPalaUrl = 'https://api.pala.world/projects/0x30b0bD905Efa7503879554fa8F8714C5c82f8Ebc';
	var mtbPalaUrl = 'https://api.pala.world/projects/0x2D5ee6A91F486278A7078eab13383F5Da0Ef9dc1';
	var gbPalaUrl = 'https://api.pala.world/projects/0xA3fC602f8D174F0aA7b2A02074D90E309583814e';
	
	
	//openseaFP
	Promise.all([
		getOpenSea('mtdz_opensea_fp', mtdzUrl, mtdzhref),
		getOpenSea('mtg_opensea_fp', mtgUrl, mtghref),
		getOpenSea('mtb_opensea_fp', mtbUrl, mtbhref),
		//palaFP
		getPalaFp('mtdz_pala_fp', mtdzPalaUrl),
		getPalaFp('mtg_pala_fp', mtgPalaUrl),
		getPalaFp('mtb_pala_fp', mtbPalaUrl)
	]).then(function(values) {
		//로딩보여주기용
		setTimeout(function() {
			$("#hideLoading").click();
		}, 1000);
		
	});
}


function getPalaFp(target, url){
	return new Promise((resolve, reject) => {
		$.ajax({
			type : "GET",
			url : url,
			data : {},
			success : function(response) {
				fp = response.floorPriceInKlay/1000000000000000000 + "";
				fp = fp.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
				$('#' + target).text(fp);
				
				resolve();
			}
		});
	})
}
function getOpenSea(target, url, href){
	return new Promise((resolve, reject) => {
		$.ajax({
			type : "POST",
			url : "/getOpenseaFp",
			data : { url:url, href:href},
			success : function(fp) {
				fp = fp.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
				$('#' + target).text(fp);
				
				resolve();
			}
		});
	})
}
</script>
</html>
