<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- head -->
<head th:replace="fragment/header :: head"></head>

<!-- header -->
<header th:replace="fragment/header :: header"></header>

<body>
<div class="contentDiv">
	<!-- content -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-2 mt-5 d-none d-lg-block">
				<div class="border p-3 mt-4" style="border-radius: 20px;">
					<ul class="list-group list-group-flush">
						<li class="list-group-item"><a class="text-dark text-decoration-none" href="/post/list?boardId=0" th:classappend="${board.boardId} == 0 ? sbAggroM">공지사항</a></li>
						<li class="list-group-item"><a class="text-dark text-decoration-none" href="/post/list?boardId=1" th:classappend="${board.boardId} == 1 ? sbAggroM">P2E(MTDZ THE GAME)</a></li>
						<li class="list-group-item"><a class="text-dark text-decoration-none" href="/post/list?boardId=2" th:classappend="${board.boardId} == 2 ? sbAggroM">P2E(META TOY CITY)</a></li>
						<li class="list-group-item"><a class="text-dark text-decoration-none" href="/post/list?boardId=3" th:classappend="${board.boardId} == 3 ? sbAggroM">자유게시판</a></li>
						<li class="list-group-item"><a class="text-dark text-decoration-none" href="/post/list?boardId=4" th:classappend="${board.boardId} == 4 ? sbAggroM">건의/신고</a></li>
					</ul>
				</div>
			</div>
			
			<div class="col d-none d-lg-block">
				<div class="d-flex justify-content-between mt-3">
					<div class="my-auto">
						<h4 class="fw-bold" th:text="${board.boardNm}"></h4>
					</div>
					<div>
						<form class="row g-3" method="GET" th:action="@{/post/list}">
							<input type="hidden" id="boardId" name="boardId" th:value="${board.boardId}">
							<div class="col-auto">
								<label for="searchText" class="visually-hidden">검색</label>
								<input type="text" class="form-control" id="searchText" name="searchText" th:value="${param.searchText}">
							</div>
							<div class="col-auto">
								<button type="submit" class="btn btn-light mb-3">검색</button>
							</div>
						</form>
					</div>
				</div>
				
				<div class="border p-3" style="border-radius: 20px;">
					
					<table class="table table-borderless table-hover text-center">
						<thead class="borderColorRtdc" style="border-bottom : 2px solid;">
							<tr>
								<th class="col-8">제목</th>
								<th class="col-1">글쓴이</th>
								<th class="col-1">작성일</th>
								<th class="col-1">조회</th>
								<th class="col-1">좋아요</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="post, i : ${postList}" class="border-top">
								<td class="text-start">
									<img th:src="@{/assets/img/paper.png}" style="width:18px;"/>
									<a class="text-dark text-decoration-none" th:href="@{/post/view(boardId=${post.board.boardId},postId=${post.postId})}">
										[[${post.title}]]
										<span class="text-black-50" th:text="'['+${post.commentCnt}+']'"></span>
									</a>
									
								</td>								
								<td th:text="${post.user.nickname}"></td>
								<td th:with="regDateTime=${#temporals.format(post.regDateTime, 'yyyy.MM.dd')}, curDateTime=${#calendars.format(#calendars.createNow(), 'yyyy.MM.dd')}" 
									th:text="${regDateTime} == ${curDateTime} ? ${#temporals.format(post.regDateTime, 'HH:mm')} : ${#temporals.format(post.regDateTime, 'MM.dd')}">
								</td>
								<td th:text="${post.readCnt}"></td>
								<td th:text="${post.likeCnt}"></td>
							</tr>
							<tr th:if="${#lists.size(postList)} == 0">
								<td colspan="4" >게시글이 없습니다.</td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<div class="text-end my-3">
					<a type="button" class="btn btn-rtdc" th:href=@{/post/form(boardId=${board.boardId})} th:if="${board.boardId} == 0" sec:authorize="hasRole('ADMIN')">작성</a>
					<a type="button" class="btn btn-rtdc" th:href=@{/post/form(boardId=${board.boardId})} th:unless="${board.boardId} == 0">작성</a>
				</div>
				
				<!-- pagenation s -->
				<nav class="">
					<ul class="pagination justify-content-center"
						th:with="start=${postList.number/10*10 + 1}
		  						, last=(${start + 9 < postList.totalPages ? start + 9 : postList.totalPages})">
						<li class="page-item">
							<a class="page-link" th:href="@{/post/list(boardId=${board.boardId}, page=1, searchText=${param.searchText})}">&lt;&lt;</a>
						</li>
						<li class="page-item" th:class="${postList.first} ? 'disabled'">
							<a class="page-link" th:href="${postList.first} ? '#' :@{/post/list(boardId=${board.boardId}, page=${postList.number}, searchText=${param.searchText})}">&lt;</a>
						</li>
						<li class="page-item" th:each="page: ${#numbers.sequence(start, last)}" th:classappend="${page == postList.number + 1} ? 'active'">
							<a class="page-link" th:text="${page}" th:href="@{/post/list(boardId=${board.boardId}, page=${page}, searchText=${param.searchText})}"></a>
						</li>
						<li class="page-item" th:class="${postList.last} ? 'disabled'">
							<a class="page-link" th:href="${postList.last} ? '#' :@{/post/list(boardId=${board.boardId}, page=${postList.number +2}, searchText=${param.searchText})}">&gt;</a>
						</li>
						<li class="page-item">
							<a class="page-link" th:href="@{/post/list(boardId=${board.boardId}, page=${postList.totalPages}, searchText=${param.searchText})}">&gt;&gt;</a>
						</li>
					</ul>
				</nav>
				<!-- pagenation e -->
			</div>
		</div>
		
		<div class="row">
			<div class="col d-block d-lg-none">
				<div class="d-flex justify-content-between mt-3">
					<div class="my-auto">
						<h4 class="fw-bold" th:text="${board.boardNm}"></h4>
					</div>
				</div>
				
				<div class="list-group list-group-flush p-3">
					<a th:each="post, i : ${postList}" th:href="@{/post/view(boardId=${post.board.boardId},postId=${post.postId})}" class="list-group-item list-group-item-action" aria-current="true">
						<div>
							<div class="sbAggroM">
								<img th:src="@{/assets/img/paper.png}" style="width:18px;"/>
								<span th:text="${post.title}"></span>
								<span class="text-black-50" th:text="'['+${post.commentCnt}+']'"></span>
							</div>
							<div>
								<span th:text="${post.user.nickname}"></span>
								<span class="float-end" 
									th:with="regDateTime=${#temporals.format(post.regDateTime, 'yyyy.MM.dd')}, curDateTime=${#calendars.format(#calendars.createNow(), 'yyyy.MM.dd')}" 
									th:text="${regDateTime} == ${curDateTime} ? ${#temporals.format(post.regDateTime, 'HH:mm')} : ${#temporals.format(post.regDateTime, 'MM.dd')}">
								</span>
							</div>
						</div>
					</a>
				</div>
				
				<div class="text-end my-3">
					<a type="button" class="btn btn-rtdc" th:href=@{/post/form(boardId=${board.boardId})} th:if="${board.boardId} == 0" sec:authorize="hasRole('ADMIN')">작성</a>
					<a type="button" class="btn btn-rtdc" th:href=@{/post/form(boardId=${board.boardId})} th:unless="${board.boardId} == 0">작성</a>
				</div>
				
				<nav class="">
					<ul class="pagination justify-content-center" 
						th:with="start=${postList.number/5*5 + 1}
		  						, last=(${start + 4 < postList.totalPages ? start + 4 : postList.totalPages})">
						<li class="page-item">
							<a class="page-link" th:href="@{/post/list(boardId=${board.boardId}, page=1, searchText=${param.searchText})}">&lt;&lt;</a>
						</li>
						<li class="page-item" th:class="${postList.first} ? 'disabled'">
							<a class="page-link" th:href="${postList.first} ? '#' :@{/post/list(boardId=${board.boardId}, page=${postList.number}, searchText=${param.searchText})}">&lt;</a>
						</li>
						<li class="page-item" th:each="page: ${#numbers.sequence(start, last)}" th:classappend="${page == postList.number + 1} ? 'active'">
							<a class="page-link" th:text="${page}" th:href="@{/post/list(boardId=${board.boardId}, page=${page}, searchText=${param.searchText})}"></a>
						</li>
						<li class="page-item" th:class="${postList.last} ? 'disabled'">
							<a class="page-link" th:href="${postList.last} ? '#' :@{/post/list(boardId=${board.boardId}, page=${postList.number +2}, searchText=${param.searchText})}">&gt;</a>
						</li>
						<li class="page-item">
							<a class="page-link" th:href="@{/post/list(boardId=${board.boardId}, page=${postList.totalPages}, searchText=${param.searchText})}">&gt;&gt;</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>
</body>

<!-- footer -->
<footer th:replace="fragment/footer :: footer"></footer>

</html>
