<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- head -->
<head th:replace="fragment/header :: head"></head>
<style>
	.pixelDiv{
		background-image: url("/assets/img/pixel-bg.png");
		background-repeat: no-repeat;
 		background-size: 100%;
 		min-height: 1500px;
 		
	}
	.pixelContent{
 		padding-top: 6.8%;
 		padding-left: 9.4%;
	}
	
	.box{
/*  		border: 1px solid red;  */
		width:47%;
	}
	
	table{
/* 		border: 1px solid blue; */
/* 		background-color: yellow; */
		width: 100%;
		height: 100%;
	}
	tr,td{
		margin: 0px;
		padding:0px;
	}
	td{
		padding-bottom: 10%;
	}
	
	
</style>
<body>
	<!-- header -->
	<header th:replace="fragment/header :: header"></header>


	<!-- content -->
	
	<div class="pixelDiv">
		<div class="pixelContent" id="content">	
			<div class="box"></div>
		</div>
	</div>


	<!-- footer -->
	<footer th:replace="fragment/footer :: footer"></footer>
</body>
<script>
	$(document).ready(function(){
		var html = '';
		html += '<table>';
		for(var i=0; i<10; i++){
			html += '<tr>';
				html += '<td style="background-color: red;"></td>';
				html += '<td style="background-color: orange;"></td>';
				html += '<td style="background-color: yellow;"></td>';
				html += '<td style="background-color: green;"></td>';
				html += '<td style="background-color: blue;"></td>';
				html += '<td style="background-color: red;"></td>';
				html += '<td style="background-color: orange;"></td>';
				html += '<td style="background-color: yellow;"></td>';
				html += '<td style="background-color: green;"></td>';
				html += '<td style="background-color: blue;"></td>';
			html += '</tr>';
		}
		html += '</table>';
		
		$('.box').html(html);
	})
</script>
</html>
