/* 폰트 s*/
@font-face {
	font-family: "sbAggroB";
	src: url("/assets/fonts/sbAggroB.ttf") format("truetype");
	font-weight: normal;
}
@font-face {
	font-family: "sbAggroL";
	src: url("/assets/fonts/sbAggroL.ttf") format("truetype");
	font-weight: normal;
}
@font-face {
	font-family: "sbAggroM";
	src: url("/assets/fonts/sbAggroM.ttf") format("truetype");
	font-weight: normal;
}

body{
	font-family: 'sbAggroL';
}
.sbAggroB{
	font-family: 'sbAggroB';
}
.sbAggroL{
	font-family: 'sbAggroL';
}
.sbAggroM{
	font-family: 'sbAggroM';
}

.contentDiv{
	min-height: 700px;
}
/* 폰트 e*/

.colorRtdc{
	color: #7240bf !important;
}
.backgroundColorRtdc{
	background-color: #7240bf !important;
}
.borderColorRtdc{
	border-color: #7240bf !important;
}


/* pagenation s*/
.page-link{
	color: #7240bf;
}
.page-link:hover{
	color: #7240bf;
}

.page-item.active .page-link{
	background-color: #7240bf;
	border-color: #7240bf;
}
/* pagenation e*/

.btn-rtdc{
	color: white;
	background-color: #7240bf;
}
.btn-rtdc:hover {
	color: white;
}

.nav-item:hover{
	font-weight: bold;
	text-decoration: underline;
	text-underline-position: under;
}

.text-rainbow {
  background-image: linear-gradient(90deg, red, orange, yellow, green, blue, navy, purple);
  -webkit-background-clip: text;
  color: transparent;

  font-weight: bold;
  font-size: 40px;
}

.profile{
	width: 45px;
	height: 45px;
	border-radius: 70%;
}

.postList{
	background-color: #F5F5F5;
	border-radius: 20px;
}
.postList .content {
	display: grid;
}
.postList .content span {
	text-overflow: ellipsis; 
	overflow: hidden; 
	white-space: nowrap;
}

.loginBtn{
	border:4px solid;
	border-radius: 20px;
	border-color: #7240bf;
	color : black;
}
.loginBtn:hover{
	background-color: #7240bf;
	color: white;
}

.LoginBox{
	border:4px solid;
	border-radius: 20px;
	border-color: #7240bf;
	color : black;
}

.openseaLogo{
	content: url("/assets/img/logo_opensea.png");
	width: 20px;
}
.palaLogo{
	content: url("/assets/img/logo_pala.png");
	width: 20px;
}

.profileImg{
	width:50px;
	height:50px;
	border-radius: 5px;
}

.red{
	color:red;
}