<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- head -->
<head th:replace="fragment/header :: head"></head>
<style>
	.card-img-top{
		max-width: 100%;
		height: 270px;
/*    		height: auto !important; */
	}
	.card:hover {
		cursor: pointer;	
	}
</style>
<body>
	<!-- header -->
	<header th:replace="fragment/header :: header"></header>
	

	<!-- content -->
	<div class="container-fluid">
	

		<div class="row">
			<div class="col-2 mt-5 d-none d-lg-block">
				<div class="border p-3 mt-3" style="border-radius: 20px;">
					<ul class="list-group list-group-flush">
						<li class="list-group-item"><a class="text-dark text-decoration-none" href="/raffle/list?status=0" th:classappend="${status} == 0 ? sbAggroM">진행중</a></li>
						<li class="list-group-item"><a class="text-dark text-decoration-none" href="/raffle/list?status=1" th:classappend="${status} == 1 ? sbAggroM">종료된</a></li>
					</ul>
				</div>
			</div>
			
			<div class="col">
				<div class="d-flex justify-content-start mt-4">
					<div class="my-auto">
						<h4 class="fw-bold" th:if="${status} == 0">진행중</h4>
						<h4 class="fw-bold" th:if="${status} == 1">종료된</h4>
					</div>
				</div>
				<div class="row">
					<div th:each="raffle, i : ${raffleList}" th:if="${raffle.status == status}" class="col col-lg-4 col-md-6 col-sm-12 col-12">
						<div class="card mt-3" data-bs-toggle="modal" th:attr="data-bs-target=${'#exampleModal' + i.index}">
							<img th:src="${raffle.cardImgPath}" style="height: 400px;">
							<div class="card-body">
								<h5 th:text="${raffle.title}" class="card-title sbAggroM"></h5>
								<span th:text="${#temporals.format(raffle.startDateTime, 'yyyy.MM.dd')}" class="card-text"></span>
								<span>~</span>
								<span th:text="${#temporals.format(raffle.endDateTime, 'yyyy.MM.dd')}" class="card-text"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="text-end mt-3">
			<a type="button" class="btn btn-rtdc" th:href=@{/raffle/form} sec:authorize="hasRole('ADMIN')">작성</a>
		</div>
	</div>
	
	
	<!-- Modal -->
	<div th:each="raffle, i : ${raffleList}" class="modal fade" th:attr="id=${'exampleModal' + i.index}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel" th:text="${raffle.title}">Modal title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body text-center">
					<img th:src="${raffle.cardImgPath}" style="height: 400px;">
					<p th:utext="${raffle.content}" class="card-text"></p>
				</div>
				<div class="modal-body text-center" th:if="${raffle.status == '1'}">
					<h5>당첨자</h5>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-rtdc" th:if="${raffle.status == '0'}" th:attr="data-bs-target=${'#exampleModal2' + i.index}" data-bs-toggle="modal">신청</button>
					<button type="button" class="btn btn-danger" th:if="${raffle.status == '0'}" sec:authorize="hasRole('ADMIN')" onclick="raffleEnd();">종료</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 신청 Modal -->
	<div th:each="raffle, i : ${raffleList}" class="modal fade" th:attr="id=${'exampleModal2' + i.index}" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel" th:text="${raffle.title}">Modal title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form>
						<input type="hidden" name="raffleId" th:value="${raffle.raffleId}">
						<div class="mb-3">
							<label for="recipient-name" class="col-form-label">트위터:</label>
							<input type="text" class="form-control" id="" name="twitterHandle">
						</div>
						<div class="mb-3">
							<label for="message-text" class="col-form-label">디스코드:</label>
							<input type="text" class="form-control" id="" name="discordHandle">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-rtdc" th:if="${raffle.status == '0'}" onclick="raffleJoin();">저장</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
				</div>
			</div>
		</div>
	</div>
	
	
	<!-- footer -->
	<footer th:replace="fragment/footer :: footer"></footer>
</body>
<script>
	//래플 신청
	function raffleJoin(){
	}
	
	//래플 종료
	function raffleEnd(){
		
	}
</script>
</html>
